body{
    margin: 0px;
}

#page1{
    background-image: url(./imagens/fundo-torre.jpg);
    background-attachment: fixed;
	background-size: cover;
	background-position: top center;
	z-index: 1;
    border-radius: 0px 0px 10px 0px;
    position: absolute;
	left: 0px;
	top: 0;
	height: 662px;
	width: 100%;
	background-color: black;
}


.logo{
    position: absolute;
    left: 9px;
    top: 27px;
}


ul{ 

    position: absolute;
    right: 25px;
}


li{
    max-height: 52px;
    color: white;
    font-family: 'Exo', sans-serif;
    display: inline-block;
    position: static;
    padding: 8px;
    padding-top: 30px;
    padding-left: 0px;
    font-size: 19px;
}
a{
    text-decoration: none; 
    color: white;

}

a:hover{
    text-shadow: 2px 2px 7px;
}


@font-face {
    font-family: title;
    src: url(../Fontes/Trap-Medium.otf);
  }

  @font-face {
    font-family: button;
    src: url(../Fontes/Trap-Light.otf);
  }

#page1 h1 {
    font-family: title;
    color: white;
    padding: 0px;
    margin-top: 290px;
    width: 100%;
    text-align: center;
    font-size: 66px;
    font-weight: 400;
    align-items: center;
	
}


.divbtn{
    text-align: center; 
}

button{
    font-family: 'Exo', sans-serif;
    font-size: 17px;
    color: white;
    background-color: transparent;
    border: transparent;
    border-radius: 10px;
    transition-property: background-color;
    transition-duration: 800ms;
}

button:hover{
    background-color: white;
    color: black;
}

#page2{
    height: 2700px;
    margin-bottom: 170px;
}

#subtile1{
    font-family: 'Exo', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 115px;
}

.subtile1{
    font-family: 'Exo', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    text-shadow: 2px 2px 18px black;
    color: #fff;
}


#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
    
}
#projects .all-projects {
    display: inline-block;
    margin-top: 700px;
    margin-bottom: 100px;

}
#projects .project-item {
	display: inline-block;
	min-width: 300px;
	margin: 20px auto;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 25px;
    width: 10%;
	overflow: hidden;
	border-radius: 10px;
    
}


@media screen and (max-width: 1039px) {
    #projects .project-item{
        
        margin-right: 38px;
        margin-left: 38px;
        width: 83%;       
    }
}

#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 250px;
    width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(200deg, #fafafa, 30%, #4d5155 100%);
	color: white;

}
#projects .project-info h1 {
    font-family: 'Exo', sans-serif;
    font-size: 28px;
    width: 100%;
    padding-top: 15x;
	font-weight: 700;
    background-color: transparent;
    text-shadow: 6px 3px 10px rgb(41, 41, 41);
}
#projects .project-info h2 {
    font-family: 'Exo', sans-serif;
	font-size: 15px;
    text-align: left;
	font-weight: 500;
    text-align: left;	
}

#projects .project-img1 {
    flex-basis: 50%;
    height: 230px;
	width: 5900;
	background-image: url(./imagens/rada.jpeg);
    background-size:cover ;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom;
    overflow: hidden;
    opacity: 0.9;
    position: relative;
}

#projects .project-img2 {
    flex-basis: 50%;
    height: 230px;
	width: 5900;
	background-image: url(./imagens/consultoria.jpg);
    background-size:cover ;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom;
    overflow: hidden;
    opacity: 0.9;
    position: relative;
}


#projects .project-img3 {
    flex-basis: 50%;
    height: 230px;
	width: 5900;
	background-image: url(./imagens/para-raio.jpg);
    background-size:cover ;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom;
    overflow: hidden;
    opacity: 0.9;
    position: relative;
}

#projects .project-img4 {
    flex-basis: 50%;
    height: 230px;
	width: 5900;
	background-image: url(./imagens/Automação.jpeg);
    background-size:cover ;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom;
    overflow: hidden;
    opacity: 0.8;
    position: relative;
}


#projects .project-img5{
    flex-basis: 50%;
    height: 230px;
	width: 5900;
	background-image: url(./imagens/erros-do-projeto-eletrico.jpg);
    background-size:cover ;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom;
    overflow: hidden;
    opacity: 0.7;
    position: relative;
}


#projects .project-img6 {
    flex-basis: 50%;
    height: 230px;
	width: 5900;
	background-image: url(./imagens/Termografia-Eletrica.png);
    background-size:cover ;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom;
    overflow: hidden;
    opacity: 0.7;
    position: relative;
}


#projects .project-img7 {
    flex-basis: 50%;
    height: 230px;
	width: 5900;
	background-image: url(./imagens/manuntencao-eletrica.png);
    background-size:cover ;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom;
    overflow: hidden;
    opacity: 0.7;
    position: relative;
}

#projects .project-img9 {
    flex-basis: 50%;
    height: 230px;
	width: 5900;
	background-image: url(./imagens/NR10.jpeg);
    background-size:cover ;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom;
    overflow: hidden;
    opacity: 0.7;
    position: relative;
}

#projects .project-img8 {
    flex-basis: 50%;
    height: 230px;
	width: 5900;
	background-image: url(./imagens/ICMS.jpeg);
    background-size:cover ;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom;
    overflow: hidden;
    opacity: 0.7;
    position: relative;
}

#projects .project-img1  {
	transition: 0.5s ease transform;
    overflow: hidden;

}
#projects .project-item:hover .project-img1 {
    transform: scale(1.1);
    overflow: hidden;
}


#projects .project-img2  {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img2{
	transform: scale(1.1);
}


#projects .project-img3  {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img3 {
	transform: scale(1.1);
}


#projects .project-img4 {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img4 {
	transform: scale(1.1);
}


#projects .project-img5  {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img5{
	transform: scale(1.1);
}



#projects .project-img6  {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img6 {
	transform: scale(1.1);
}



#projects .project-img7  {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img7 {
	transform: scale(1.1);
}


#page3{
    margin-top: 0px;
    margin-bottom: 300px;
    padding-bottom: 0px;
    height: 1000px;
}


#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0px;
    padding: 0; 
}
#services .service-top {
	max-width: 500px;
	margin: 0 ;
}
#services .service-bottom {
    color: white;
	display: inline-block;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
    width: 100%;

	margin-top: 50px;
    right: 100;
    transform: rotateY(-50%,-50%);
    transition-property: padding;
    transition-duration: 500ms ;
}



#services .service-item {
    font-family: 'Exo', sans-serif;
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 5px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}




#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
    width: 100%;
	background-image: linear-gradient(200deg, #fafafa, 20%, #4d5155 100%);
	opacity: .9;
	opacity: 0.9;
	z-index: -1;
}

.icon{
    position: absolute;
    right: 0px;
    top: 10px;

}


#services .service-bottom .icon {
	height: 100px;
	width: 100px;
	margin-bottom: 0px; 
}

#services p{
    font-family: 'Exo', sans-serif;
    color: rgb(255, 255, 255);
    float: left;
    padding: 0px;
    text-align: justify;
    padding-right:5px ;
    font-weight: 600;
    font-size: 15px;
}


#services .service-item h2 {
    width: 100%;
	font-size: 22px;
    letter-spacing: 1px;
    color: white;
	text-transform: uppercase;
    margin-bottom: 0px;  
    margin-top: 0px;  
    text-align: justify;
    text-shadow: 6px 3px 10px rgb(41, 41, 41);
    transition-property: all;
    transition-duration: 600ms ;
}

#services .service-item h2:hover{
    font-size: 23.5px;
    }


    
  #page4{
    height: 850px;
    background-image: url(./imagens/Fundo-sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  main.cards {
    display: flex;
    padding: 32px;
    justify-content: space-evenly;
} 


main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: transparent;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 64px;
    height: 64px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 150%;
    margin: 16px 0;
    color: white;
    font-family: 'Exo', sans-serif;
    text-shadow: 2px 2px 18px black;

}

main.cards section.card span {
    font-family: title;
    font-weight: 400;
    max-width: 200px;
    font-size: 80%;
    text-align:center;
    margin-bottom: 16px;
    color: white;
    text-align: justify;
}





@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }

}


.ftperf1{
    background-color: red;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: relative;
    left: 200px;
    top:30px;
    background-image: url(./imagens/perfil.jpg);
    background-size: cover;
}

.textftperf1{
    font-family: title;
    color:#fff;
    width: 240px;
    height: 120px;
    text-align: center;
    position: relative;
    bottom:130px;
    left: 380px;
    margin-top: 20px;
    background-size: cover;
    padding: 10px;
}

.ftperf2{
    background-color: red;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: relative;
    left: 730px;
    bottom: 260px;
    background-image: url(./imagens/perfil.jpg);
    background-size: cover;
}

.textftperf2{
    font-family: title;
    color:#fff;
    width: 240px;
    height: 120px;
    text-align: center;
    position: relative;
    bottom: 400px;
    left: 930px;
    margin-top: 20px;
    background-size: cover;

}